body {
    background-color: #3F2860;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
}
#wrapper {
    background-color: #f5f5f5;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}
/* Header */
header {
    background-color: #9bc1c2;
    background-image: url(/lilyheader.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: 150px;
}
header h1 {
    padding: 50px 0 0 2em;
    margin: 0;
}
/* Navigation */
nav {
    text-align: center;
    font-weight: bold;
    padding: 1em;
}
nav a{
    text-decoration: none;
}
/* main */
main {
    padding: 0 1em;
}
img {
    padding: 0 1em;
    max-width: 100%;
}
.yoga-door {
    background-color: #3F2860;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    height: 250px;
    position: relative;
}
.yoga-door img {
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.yoga-door h2 {
    z-index: 1;
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin: 0;
    text-align: right;
}
.list {
    padding-left: 15px;
}
.studio {
    font-style: italic;
}
footer {
    background-color: #9bc1c2;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding: 1em;
}


#hero {
    text-align: center;
}